:root {
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: #F8FAFC;
  background-color: #090A0C;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
  background-color: #090A0C;
  overflow-x: hidden;
}

a {
  font-weight: 500;
  color: #818CF8;
  text-decoration: inherit;
}
a:hover {
  color: #6366F1;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #13151A;
  color: #F8FAFC;
  cursor: pointer;
  transition: all 0.25s;
}
button:hover {
  border-color: #6366F1;
}
button:focus,
button:focus-visible {
  outline: 2px solid #818CF8;
}
